<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input type="text" class="form-control" placeholder="Buscar usuario..." (keyup)="buscarUsuario(input.value)">


            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row text-center animated fadeIn">

    <div class="col-12">
        <div class="alert alert-warning">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x mt-2"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>


</div>

<div *ngIf="!cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Usuarios registrados (<small>{{ totalRegistros }}</small>)</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Role</th>
                            <th>Auth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td class="w70 align-middle text-center pointer" data-toggle="modal" data-target="#imageModal" (click)="modalUploadService.mostrarModal(usuario, 'usuarios')">
                                <!-- <td class="w70 align-middle text-center" (click)="modalUploadService.mostrarModal('#imageModal', usuario._id, 'usuarios')"> -->
                                <img [src]="usuario.img | imagen" class="h50">
                            </td>
                            <td class="align-middle">{{ usuario.email }}</td>
                            <td class="align-middle">{{ usuario.nombre }}</td>
                            <td class="align-middle">

                                <select [(ngModel)]="usuario.role" name="role" class="form-control" (change)="guardarUsuario( usuario )">
                                    <option value="ADMIN_ROLE">Administrador</option>
                                    <option value="USER_ROLE">Usuario</option>
                                </select>

                            </td>
                            <td class="align-middle">
                                <div *ngIf="usuario.google"><span class="badge badge-danger">Google</span></div>
                                <div *ngIf="!usuario.google"><span class="badge badge-primary">Normal</span></div>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-danger btn-sm" (click)="borrarUsuario( usuario )"><i class="fa fa-trash"></i> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-seconday mr-2" (click)="cambiarDesde(-5)">Previous</button>
                <button class="btn btn-seconday" (click)="cambiarDesde(5)">Next</button>

            </div>
        </div>
    </div>
</div>