<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">{{modalUploadService.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <img *ngIf="!imagenTemp" [src]="modalUploadService.img | imagen:modalUploadService.obtenerTipo()" class="h200">
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="h200" alt="Imagen temporal">
                <!-- tipo: {{modalUploadService.obtenerTipo()}} -->

                <div class="form-group mt-5">
                    <input class="form-control" type="file" (change)="seleccionarImagen( $event.target.files[0] )">
                </div>
            </div>

            <div class="modal-footer">
                <button id="modalCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light m-r-10" (click)="subirImagen()" [disabled]="!imagenTemp"><i class="fa fa-save"></i> Save changes</button>
            </div>

        </div>
    </div>
</div>