/* You can add global styles to this file, and also import other style files */

#themecolors a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.h200 {
  height: 200px;
}

.h50 {
  height: 50px;
}

.w70 {
  width: 70px;
}