<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Contador</h4>
                <p class="card-text">Index: {{ miIndex }}</p>
                <p class="card-text">Valor pasado por <strong>filter</strong> para que sólo se muestren valores par: {{ miContador }}</p>
                <p class="card-text">Si abandonamos la página el observer deja de observar</p>

            </div>
            <div class="card-footer text-muted">
                {{ miMensaje }}
            </div>
        </div>
    </div>
</div>